[submodule "src/Vendor/stb"]
	path = src/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "src/Vendor/uuid_v4"]
	path = src/Vendor/uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
[submodule "src/Vendor/imgui"]
	path = src/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/Vendor/yaml-cpp"]
	path = src/Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/Vendor/entt"]
	path = src/Vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/Vendor/imguizmo"]
	path = src/Vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "src/Vendor/bullet3"]
	path = src/Vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "src/Vendor/vma"]
	path = src/Vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
