# Project files and folders
.idea

# CMake build files
CMakeCache.txt
CMakeFiles/
Makefile
_deps/
build/
cmake_install.cmake

# Build files and folders
cmake-build-debug/
cmake-build-release/

# ImGui files
*imgui.ini

# Third-party assets
Assets/Textures/World of Solaria Demo Pack/
Apps/TopDownGame/
